<!DOCTYPE html>
<html>
    <head>
        <!-- FRAMEWORKS -->
        {% include "includes/frameworks.html" %}
        <!-- ANGULAR LIBRARIES -->
        {% include "includes/libraries.html" %}
        <!-- STYLING -->
        {% include "includes/styling.html" %}
    </head>
    <body>
        <sidebar 
                ng-controller="Sidebar"
                ng-class="getState()"
                ng-mouseenter="hovered=true"
                ng-mouseleave="hovered=false">
        </sidebar>
        <div>
        <header></header>
        <page></page>
        <footer></footer>
        </div>
    </body>
</html>