<!-- Material -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
<!-- Animate -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js"></script>
<!-- Aria -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-aria.min.js"></script>
<!-- Messages -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-messages.min.js"></script>
<!-- ng-route -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>

<!-- Module+Widget Bootstrapping Library -->
<script src="resources/js/libraries/bootstrapper.js"></script>
<!-- Widget Rendering Library -->
<script src="resources/js/libraries/renderer.js"></script>
<!-- API Library -->
<script src="resources/js/libraries/api.js"></script>