
sidebar {
    height: 100%;
    overflow: hidden;

    /*  Prevents Flickering  */
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#sidebar_content {
    padding-top: 160px;
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #202020;
    color: white;
    overflow: hidden;
    box-shadow: 4px 7px 10px rgba(0,.4);

	left: 0;
	margin: 0;
}


.sidebar_item {
    position: relative;
    cursor: pointer;
}

.sidebar_item > i {
    font-size: 40px;
    display: inline-block;
}

.sidebar_item > p {
    display: inline-block;
    font-size: 25px;
}

.sidebar_item > p:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
    opacity: 0;
    z-index: -1;
}
    
.sidebar_item:hover > p:after {
    opacity: 1;
}

.sidebar_icon {
    padding: 5px;
}


sidebar ~ * {
	-webkit-transform: translate(50px);
	-moz-transform: translate(50px);
	transform: translate(50px);
}

sidebar.open ~ * {
	-webkit-transform: translate(270px);
	-moz-transform: translate(270px);
	transform: translate(270px);

    animation: slideOut .4s ease-in-out;
}

sidebar.closed ~ * { 
    -webkit-transform: translate(50px);
	-moz-transform: translate(50px);
	transform: translate(50px);
    
    animation: slideIn .4s ease-in-out; 
}

@keyframes slideIn {
    0%    {transform: translate(270px);}
	100%  {transform: translate(50px);}
}
@-webkit-keyframes slideIn {
    0%      {-webkit-transform: translate(270px);}
	100%    {-webkit-transform: translate(50px);}
}
@-moz-keyframes slideIn {
	0%      {-moz-transform: translate(270px);}
	100%    {-moz-transform: translate(50px);}
}

@keyframes slideOut {
	0%      {transform: translate(50px);}
	100%    {transform: translate(270px);}
}
@-webkit-keyframes slideOut {
	0%      {-webkit-transform: translate(50px);}
	100%    {-webkit-transform: translate(270px);}
}
@-moz-keyframes slideOut {
	0%      {-moz-transform: translate(50px);}
	100%    {-moz-transform: translate(270px);}
}

